# Basics
Language: Cpp
Standard: c++11
UseTab: Always
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
ColumnLimit: 100
ContinuationIndentWidth: 4

# Arguments and parameters aligns
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: true
AlignOperands: true

# Other
SpaceAfterCStyleCast: true
AlignTrailingComments: true
AlignEscapedNewlines: Left
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveBitFields: true
AllowShortEnumsOnASingleLine: false
